.card__container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    min-height:70vh;
   
  }

  .card_on_categories{
    display:flex;
    justify-content: center;
  
  }