.wrapper{
    display:flex;
    justify-content: center;
    margin-top:2rem;
   }
   
   a.button__cat{
     cursor: pointer;
     display: block;
     width: 200px;
     height: 40px;
     line-height: 40px;
     font-size: 18px;
     font-family: sans-serif;
     text-decoration: none;
     color: #333;
     border: 2px solid #333;
     letter-spacing: 2px;
     text-align: center;
     position: relative;
     transition: all .35s;
   }
   
   a.button__cat span{
     position: relative;
     z-index: 2;
   }
   
   a.button__cat:after{
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background: #40e0d0;
     color:white !important;
     transition: all .35s;
   }
   
   a.button__cat:hover{
     color: #fff;
   }
   
   a.button__cat:hover:after{
     width: 100%;
     color: #fff;
   }
  