.card-img, .card-img-top, .card-img-bottom {
    flex-shrink: 0;
    width: 100%;
    max-height: 80% !important;
  }
  
  .card-text{
    color: #404040;
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 600;
  }
  